<h2>Add dog picture</h2>

<div ng-hide="answerGroups['A']">Loading...</div>
<div ng-show="answerGroups['A']">
  <input ng-model="fileInput" type="file" ng-file-select="onFileSelect($files)" ><br />

  <h4>Know the breed? (optional)</h4>
  <tabset>
    <tab ng-repeat="(key, group) in answerGroups" heading="{{key}}">
      <button ng-repeat="answer in group"
          type="button" class="btn btn-primary" ng-model="checkedAnswers[answer]" 
          btn-checkbox>{{answer}}</button>
    </tab>
  </tabset>
  <div ng-show="userAnswers().length > 0">
    <h4>Your selection:</h4>
    <button ng-repeat="checkedAnswer in userAnswers()" 
        ng-click="removeAnswer(checkedAnswer)" type="button" 
        class="btn btn-primary">{{checkedAnswer}}</button>
  </div>
  
  <br />
  <button ng-click="onUpload()" ng-disabled="!selectedFile">Upload</button><br />
  <div ng-show="progress && progress > 0">
      <div class="percent">Uploading... {{progress}}%</div>
  </div>  
</div>
