<h2>Add dog picture</h2>
<div ng-show="answers.length == 0">Loading...</div>
<div ng-show="answers.length > 0">
  <input ng-model="fileInput" type="file" ng-file-select="onFileSelect($files)" ><br />

  <h4>Know the breed? (optional)</h4>
	<dd-picker options="answers" selected="selected"></dd-picker>
  <br />
  <button ng-click="onUpload()" ng-disabled="!selectedFile">Upload</button><br />
  <div ng-show="progress && progress > 0">
      <div class="percent">Uploading... {{progress}}%</div>
  </div>  
</div>
